{% extends "base.html" %}
 {% if not current_user.is_authenticated %}
        <script>window.location.href = "{{ url_for('login') }}";</script>
    {% endif %}
{% block sub_breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ url_for('task_list') }}">Задания</a></li>
    <li class="breadcrumb-item active" aria-current="page">Результаты обработки</li>
{% endblock %}
{% block content %}
<h1>Результаты обработки</h1>
<a href="{{ url_for('task_list') }}" class="btn btn-outline-primary mt-3">
                    <i class="bi bi-bar-chart"></i> Список заданий
                </a>
                    <a href="{{ url_for('create_task') }}" class="btn btn-outline-primary mt-3">
                        <i class="bi bi-plus-circle"></i> Создать задание
                    </a>
<table class="table">
  <thead>
    <tr>
      <th>Изображение</th>
      <th>SKU</th>
      <th>Статус</th>
      <th>Рекомендации</th>
    </tr>
  </thead>
  <tbody>
    {% for photo in photos %}
    <tr>
      <td><img src="/uploads/{{ photo.filename }}" width="150"></td>
      <td>{{ photo.shelf_id }}</td>
      <td>
        {% for check in compliance_info %}
          {% if check.missing > 0 %}
            <span class="badge bg-danger">Недостача: {{ check.missing }}</span>
          {% endif %}
          {% if check.extra > 0 %}
            <span class="badge bg-warning">Лишние: {{ check.extra }}</span>
          {% endif %}
        {% endfor %}
      </td>
      <td>
        <ul>
          {% for rec in recommendations %}
            <li>{{ rec.action }} {{ rec.quantity }} шт. ({{ rec.priority }})</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}